body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu h2 {
  margin-bottom: 30px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  background-color: #4caf50;
  display: inline;
  margin-right: 15px;
  padding: 20px;
  border-radius: 8px;

}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #333;
}